@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway-VariableFont_wght.woff);
    src: url(../font/Raleway-VariableFont_wght.ttf) format("truetype");
}
body div{
    width: 1160px;
    margin: 0 auto;
    background-color: #EEF1F2;
}
header{
    display: flex;
    background-color: #17ABB3;
    height: 150px;
}
div.titre{
    margin: 0 auto;
    background-color: #17ABB3;
    justify-items: center;
}


div.pp{
    background-color: #17ABB3;
    width: 400px;
    display: flex;
}
img.pp{
    height: 90px;
    width: 90px;
    border: solid white 5px;
    border-radius: 50%;   
    margin: auto; 
}

footer{
    display: flex;
}
img.footer{
    height: 2%;
    width: 2%;
    margin: 0 auto;
}

main{
    display: flex;
}
h1, h2{
    font-family: "Lato";
}
p, a{
    font-family: "Raleway";
}