/*  DIV GAUCHE  */
.navigation {
    background-color: var(--secondary-color);
    position: fixed;
    top: 56px; /* hauteur du header */
    left: 0;
    width: 250px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}
.nav-pills .nav-link.active {
    background-color: var(--nav-color);
    /*color: white;*/
}
.nav-pills .nav-link{
    color: var(--nav-txt-color);
}

/*  RESPONSIVE  */
@media (max-width: 700px) {
    .navigation {
        display: none;
    }

    .contenue {
        margin-left: 20px;
    }
}