:root {
    --primary-color: #3F7343;
    --secondary-color :#06668C;
    --nav-color : #427AA1;
    --nav-txt-color : #EBF2FA;
    --fond : #427AA1;
    --txt-main : #EBF2FA;
    --h4 :#cce90d;
    --h5: #afc522;
}

/*  HEADER  */


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: var(--primary-color);
}
.custom-navbar{
    background-color: var(--primary-color);
}
.titre{
    color: var(--txt-main);
}

/*  CONTENUE DE LA PAGE */
main{
    margin-top: 56px;
}

body{
    background-color: var(--fond);
    color: var(--txt-main);
}
.contenue{
    margin-left: 35%;
    /*margin-top: 56px;*/
    padding: 20px;
}

h4{
    color: var(--h4)
}
h5{
    color: var(--h5);
}

